// app global css in SCSS form

@import '../css/quasar.variables.scss';

body,
html {
  // background: radial-gradient(
  //   circle,
  //   rgba(40, 208, 43, 1) 0%,
  //   rgba(61, 222, 58, 1) 45%,
  //   rgba(118, 255, 214, 1) 100%
  // ) !important;

  background: linear-gradient(135deg, $grey-8 0%, $grey-9 100%) !important;
}

// .active-nav-tab {
//   color: #81C341;
// }


.ldex-border {
  &-top {
    border-top: 1px solid $border-color !important;
  }
  &-bottom {
    border-bottom: 1px solid $border-color !important;
  }
  &-right {
    border-right: 1px solid $border-color !important;
  }
  &-left {
    border-left: 1px solid $border-color !important;
  }
}
